.home-container{
    display: flex;
    position: relative;
    align-items: center;
}
.home-content{
    flex: 1;
}
.home-content h2{
    line-height: 5rem;
    margin-bottom: 1rem;
    font-size: 3.8rem;
    font-weight: bolder;
}
.home-content p{
    width: 80%;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
.home-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    flex: 1;
}
.home-img > div{
    display: flex;
    align-items: flex-end;
    gap: 2rem;

}
.home-img > div > img{
    width: 25rem;
    transition: all 0.3s ease;
}

.tech-logo{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border: 1.5px solid #6852ba;
}

.tech-logo img{
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.home-img > div > img:hover , .tech-logo > img:hover{

transform: translateY(-0.5rem);

}

.home-container::after, .home-container ::before{
    content: "";
    position: absolute;
    z-index: -1;
    width:10rem;
    height: 10rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    filter: blur(230px);
    
}
.home-container::after{
    top: -1rem;
    left: -5m;
}
.home-container::before{
    bottom: 2rem;
    right: 0rem;
    top: -6rem;
}
.home-img >div > img{
    border-radius: 30px;
}

@media (max-width:1030px) {
    .home-content h2{
        font-size: 3rem;
        line-height: 4rem;
    }
    .home-content p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .home-img >div>img{
        width: 20rem;
    }
    .tech-logo{
        width: 4rem;
        height: 4rem;
    }
    .tech-logo img{
        width: 2.5rem;
    }
}

@media (max-width:770px) {
    .home-container{
        flex-direction: column;
    }
    .home-img{
        margin-top: 2rem 0 2rem 0;
    }
    .home-container h2{
        margin-top: 3rem;
    }
    .home-content h2 ,.home-content p {
        width: auto;
        text-align: center;
        margin-top: -100px;
    }
    .home-container::after , .home-container::before{
        content: " ";
        width: 18rem;
        height: 18rem;
    }
    .home-container::after{
        top:0;
        left: 0;
    }
    .home-container::before{
        right:0 ;
        bottom: 2rem;
    }
    .home-content h2{
        margin-top: -250px;
    }
    .home-content p{
        margin-top: 50px;
    }
    
}

@media (max-width:600px) {
    .home-content h2{
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .home-content p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .home-img{
        gap: 1rem;
    }
    .home-img >div{
        gap: 1rem;
    }
    .home-img>div>img{
        width: 16rem;
    }
    .tech-logo{
        width: 3.5rem;
        height: 3.5rem;
    }
    .tech-logo img{
        width: 2rem;
    }
    
}

.download-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  background:linear-gradient(90deg,#a993fe 0%,#7e61e7 100%);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin-left: 120px;
  
}

.download-btn:hover {
   background: #000;
    color: #a993fe;
    outline: 1.5px solid #a993fe;
}
